/* styles.css */

/* Header styles */
header {
    background-color: #333;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('C:/Users/Dhananjai Govind/Pictures/71 kb-min.jpg');
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

/* Section styles */
section {
    margin-bottom: 40px;
}

/* Heading styles */
h2 {
    color: #333;
    font-size: 24px;
}

/* Paragraph styles */
p {
    color: #666;
    line-height: 1.6;
}

/* List styles */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

